# ***** QualNet Configuration File *****


#********************General Settings***********************************

VERSION 17.03
EXPERIMENT-NAME exata
EXPERIMENT-COMMENT NONE
SIMULATION-TIME 30S
SEED 1
MULTI-GUI-INTERFACE NO
GUI-CONFIG-LOCKED NO
DUMMY-GLOBAL-FILTER-ENABLE NO
NUM-NODES 10

#*******************Parallel Settings***********************************

PARTITION-SCHEME AUTO
GESTALT-PREFER-SHARED-MEMORY YES
WAIT-STATS-ENABLED NO

#*******************Advanced Settings***********************************

DYNAMIC-ENABLED NO

#********************HeatMap Settings***********************************

PROP-HEAT-MAP-COLLECTION NO
PROP-HEAT-MAP-CONSIDER-TX-ANTENNA-GAIN YES
PROP-HEAT-MAP-COLLECTION-START-TIME 0S
PROP-HEAT-MAP-COLLECTION-END-TIME 30S
PROP-HEAT-MAP-HORIZONTAL-GRANULARITY 100
PROP-HEAT-MAP-VERTICAL-GRANULARITY 10
PROP-HEAT-MAP-MAX-HEIGHT 100
PROP-HEAT-MAP-MAX-DEPTH 0
STATS-DB-HEATMAP-EVENTS-TABLE NO
STATS-DB-HEATMAP-SUMMARY-INTERVAL 600S
STATS-DB-HEATMAP-SUMMARY-TABLE NO
STATS-DB-HEATMAP-DESCRIPTION-TABLE NO

#*****************************Terrain***********************************

COORDINATE-SYSTEM CARTESIAN
TERRAIN-DIMENSIONS (1500, 1500)
WEATHER-MOBILITY-INTERVAL 10S

#******************Channel Properties***********************************

PROPAGATION-CHANNEL-NAME[0] channel0
PROPAGATION-CHANNEL-FREQUENCY[0] 2400000000.000000
PROPAGATION-MODEL[0] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[0] TWO-RAY
PROPAGATION-SHADOWING-MODEL[0] CONSTANT
PROPAGATION-SHADOWING-MEAN[0] 4.0
PROPAGATION-FADING-MODEL[0] NONE
PROPAGATION-ENABLE-CHANNEL-OVERLAP-CHECK[0] NO
PROPAGATION-SPEED[0] 3e8
PROPAGATION-LIMIT[0] -111.0
PROPAGATION-MAX-DISTANCE[0] 0
PROPAGATION-COMMUNICATION-PROXIMITY[0] 400
PROPAGATION-PROFILE-UPDATE-RATIO[0] 0.0
DUMMY-MIMO-PARAMETERS NO

#**************Mobility and Placement***********************************

NODE-PLACEMENT FILE
MOBILITY NONE

#*********************************GSM***********************************

GSM-TOTAL-NUMBER-OF-CHANNELS 0

#*********************************LTE***********************************

PHY-LTE-PERFORMANCE-MODE 0

#**********************************5G***********************************

PHY-NR-PERFORMANCE-MODE 1

#**************************STATISTICS***********************************

PHY-LAYER-STATISTICS YES
MAC-LAYER-STATISTICS YES
ACCESS-LIST-STATISTICS NO
ARP-STATISTICS NO
ROUTING-STATISTICS YES
POLICY-ROUTING-STATISTICS NO
QOSPF-STATISTICS NO
ROUTE-REDISTRIBUTION-STATISTICS NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS YES
MULTICAST-MSDP-STATISTICS NO
NETWORK-LAYER-STATISTICS YES
INPUT-QUEUE-STATISTICS NO
INPUT-SCHEDULER-STATISTICS NO
QUEUE-STATISTICS YES
SCHEDULER-STATISTICS NO
SCHEDULER-GRAPH-STATISTICS NO
DIFFSERV-EDGE-ROUTER-STATISTICS NO
ICMP-STATISTICS NO
ICMP-ERROR-STATISTICS NO
IGMP-STATISTICS NO
NDP-STATISTICS NO
MOBILE-IP-STATISTICS NO
TCP-STATISTICS YES
UDP-STATISTICS YES
MDP-STATISTICS NO
RSVP-STATISTICS NO
RTP-STATISTICS NO
APPLICATION-STATISTICS YES
BATTERY-MODEL-STATISTICS NO
ENERGY-MODEL-STATISTICS YES
CELLULAR-STATISTICS YES
GSM-STATISTICS NO
VOIP-SIGNALLING-STATISTICS NO
SWITCH-PORT-STATISTICS NO
SWITCH-SCHEDULER-STATISTICS NO
SWITCH-QUEUE-STATISTICS NO
MPLS-STATISTICS NO
MPLS-LDP-STATISTICS NO
HOST-STATISTICS NO
DHCP-STATISTICS NO
DNS-STATISTICS NO
PHY-LTE-CA-STATS NO
PHY-NR-CA-STATS NO
5G-NS-STATS NO

#**********************PACKET TRACING***********************************

PACKET-TRACE NO
ACCESS-LIST-TRACE NO

#*****************Statistics Database***********************************

STATS-DB-COLLECTION NO

#******************Supplemental Files***********************************

APP-CONFIG-FILE Exercise Q1.app
DUMMY-TRAFFIC-PATTERN-FILE-NUMBER 0

#***********************AGI Interface***********************************

AGI-INTERFACE NO

#**********************EXSH Interface***********************************

EXSH-ENABLED NO

#********************Socket Interface***********************************

SOCKET-INTERFACE NO

#*******************VR-Link Interface***********************************

VRLINK NO

#****************Command PE Interface***********************************

CPE-INTERFACE NO
DYNAMIC-ENTITY-CREATION NO

#**********************Physical Layer***********************************

PHY-LISTENABLE-CHANNELS channel0
PHY-LISTENING-CHANNELS channel0
PHY-MODEL PHY802.11b
PHY802.11-AUTO-RATE-FALLBACK NO
PHY802.11-DATA-RATE 2000000
PHY802.11-FREQUENCY-BAND 2400000000
PHY802.11-COUNTRY-CODE US
PHY802.11-20MHz-CHANNEL-INDEX 6
PHY802.11-TX-POWER-1MBPS 15.0
PHY802.11-TX-POWER-2MBPS 15.0
PHY802.11-TX-POWER-5.5MBPS 15.0
PHY802.11-TX-POWER-11MBPS 15.0
PHY802.11-USE-LEGACY-802.11b NO
PHY802.11-RX-SENSITIVITY-1MBPS -82.0
PHY802.11-RX-SENSITIVITY-2MBPS -80.0
PHY802.11-RX-SENSITIVITY-5.5MBPS -78.0
PHY802.11-RX-SENSITIVITY-11MBPS -76.0
PHY802.11-ESTIMATED-DIRECTIONAL-ANTENNA-GAIN 15.0
PHY-RX-MODEL PHY802.11b
DUMMY-ANTENNA-MODEL-CONFIG-FILE-SPECIFY NO
ANTENNA-MODEL OMNIDIRECTIONAL
ANTENNA-GAIN 0.0
ANTENNA-HEIGHT 1.5
ANTENNA-EFFICIENCY 0.8
ANTENNA-NOISE-TEMPERATURE 0.0
ANTENNA-TILT-ANGLE 0.0
ANTENNA-AXIAL-RATIO 1.0
ANTENNA-POLARIZATION-REFERENCE-AXIS X
ANTENNA-MISMATCH-LOSS 0.3
ANTENNA-CABLE-LOSS 0.0
ANTENNA-CONNECTION-LOSS 0.2
ANTENNA-ORIENTATION-AZIMUTH 0
ANTENNA-ORIENTATION-ELEVATION 0
ANTENNA-ORIENTATION-ROLL 0
ANTENNA-ORIENTATION-AZIMUTH-SPEED 0.0
PHY-TEMPERATURE 290.0
PHY-NOISE-FACTOR 10.0
ENERGY-MODEL-SPECIFICATION NONE

#***************************MAC Layer***********************************

LINK-MAC-PROTOCOL ABSTRACT
LINK-PROPAGATION-DELAY 1MS
LINK-BANDWIDTH 10000000.000000
LINK-HEADER-SIZE-IN-BITS 224
LINK-DROP-PROBABILITY 0
LINK-TX-FREQUENCY 13170000000.000000
LINK-RX-FREQUENCY 13170000000.000000
LINK-TX-ANTENNA-HEIGHT 30
LINK-RX-ANTENNA-HEIGHT 30
LINK-TX-ANTENNA-DISH-DIAMETER 0.8
LINK-RX-ANTENNA-DISH-DIAMETER 0.8
LINK-TX-ANTENNA-CABLE-LOSS 1.5
LINK-RX-ANTENNA-CABLE-LOSS 1.5
LINK-TX-POWER 30
LINK-RX-SENSITIVITY -80
LINK-NOISE-TEMPERATURE 290
LINK-NOISE-FACTOR 4
LINK-TERRAIN-TYPE PLAINS
LINK-PROPAGATION-RAIN-INTENSITY 0
LINK-PROPAGATION-TEMPERATURE 25
LINK-PROPAGATION-SAMPLING-DISTANCE 100
LINK-PROPAGATION-CLIMATE 1
LINK-PROPAGATION-REFRACTIVITY 360
LINK-PROPAGATION-PERMITTIVITY 15
LINK-PROPAGATION-CONDUCTIVITY 0.005
LINK-PROPAGATION-HUMIDITY 50
LINK-PERCENTAGE-TIME-REFRACTIVITY-GRADIENT-LESS-STANDARD 15
LINK-MICROWAVE-DIFFRACTION-EFFECT-THRESHOLD 500
MAC-PROTOCOL MACDOT11
MAC-DOT11-SHORT-PACKET-TRANSMIT-LIMIT 7
MAC-DOT11-LONG-PACKET-TRANSMIT-LIMIT 4
MAC-DOT11-RTS-THRESHOLD 0
MAC-DOT11-STOP-RECEIVING-AFTER-HEADER-MODE NO
MAC-DOT11-ENABLE-METRIC-REPORTING NO
MAC-DOT11-ASSOCIATION NONE
MAC-DOT11-IBSS-SUPPORT-PS-MODE NO
MAC-DOT11-DIRECTIONAL-ANTENNA-MODE NO
MAC-PROPAGATION-DELAY 1US
CONFIGURE-MEDIA-TYPE NO

#***************Schedulers and Queues***********************************

IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE 150000
IP-QUEUE-SCHEDULER STRICT-PRIORITY
IP-QUEUE-NUM-PRIORITIES 3

#*******************QoS Configuration***********************************


#****************Fixed Communications***********************************

FIXED-COMMS-DROP-PROBABILITY 0.0

#******************MSDP Configuration***********************************


#************************ROUTER MODEL***********************************

DUMMY-ROUTER-TYPE USER-SPECIFIED

#***********************NETWORK LAYER***********************************

NETWORK-PROTOCOL IP
IP-ENABLE-LOOPBACK YES
IP-LOOPBACK-NUM-INTERFACES 1
IP-FRAGMENT-HOLD-TIME 60S
IP-FRAGMENTATION-UNIT 2048
ECN NO
ICMP YES
ICMP-ROUTER-ADVERTISEMENT-LIFE-TIME 1800S
ICMP-ROUTER-ADVERTISEMENT-MIN-INTERVAL 450S
ICMP-ROUTER-ADVERTISEMENT-MAX-INTERVAL 600S
ICMP-MAX-NUM-SOLICITATION 3
MOBILE-IP NO

#********************ROUTING PROTOCOL***********************************

ROUTING-PROTOCOL-IPv4 BELLMANFORD
STATIC-ROUTE NO
DEFAULT-ROUTE NO
DUMMY-MULTICAST NO

#*******************BGP Configuration***********************************

DUMMY-BGP-ENABLE-ROUTER-ID NO

#***************************TRANSPORT***********************************

TRANSPORT-PROTOCOL-RSVP YES
GUI_DUMMY_CONFIG_TCP YES
TCP NEWRENO
TCP-USE-RFC1323 YES
TCP-USE-RFC3042 YES
TCP-USE-RFC3390 YES
TCP-USE-RFC3465 YES
TCP-USE-NAGLE-ALGORITHM YES
TCP-DO-ECN NO
TCP-ECN-MAX-RETRIES 1
TCP-SACK-PERMITTED YES
TCP-MAX-SACK-HOLES 128
TCP-DROP-SYNFIN NO
TCP-DO-INSECURE-RST NO
TCP-DO-INSECURE-SYN NO
TCP-USE-PUSH YES
TCP-TIMER-JITTER YES
TCP-MSS 536
TCP6-MSS 1220
TCP-INITCWND-SEGMENTS 10
TCP-SYNCACHE-HASHSIZE 512
TCP-SYNCACHE-BUCKETLIMIT 30
TCP-SYNCACHE-CACHELIMIT 15360
TCP-DELAY-ACKS YES
TCP-MSL 1MS
TCP-SEND-BUFFER 16384
TCP-RECEIVE-BUFFER 16384

#**************************MPLS Specs***********************************

MPLS-PROTOCOL NO

#*******************Application Layer***********************************

RTP-ENABLED NO
MDP-ENABLED NO
DTN-OPERATION-ENABLED NO

#***************************LTE Layer***********************************

IS-SGW NO
IS-PGW NO
IS-GNB NO

#*****************************FIVE_GC***********************************


#**********************Battery Models***********************************

BATTERY-MODEL NONE

#************************Node Fault 0***********************************


#*****************Adaptation Protocol***********************************

ADAPTATION-PROTOCOL AAL5
ATM-CONNECTION-REFRESH-TIME 5M
ATM-CONNECTION-TIMEOUT-TIME 1M
IP-QUEUE-PRIORITY-QUEUE-SIZE 150000
IP-QUEUE-TYPE FIFO


# ***** Advanced Emulation Data *****



# ***** Virtual Node Data *****

NETWORK-OFFLOAD NO

#********* [Default Wireless Subnet] ***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.1.0 { 1, 2 } LINK-UUID LINK1

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.2.0 { 2, 3 } LINK-UUID LINK2

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.3.0 { 3, 4 } LINK-UUID LINK3

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.4.0 { 4, 5 } LINK-UUID LINK4

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.5.0 { 5, 6 } LINK-UUID LINK5

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.6.0 { 6, 7 } LINK-UUID LINK6

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.7.0 { 7, 8 } LINK-UUID LINK7

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.8.0 { 8, 9 } LINK-UUID LINK8

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.9.0 { 9, 10 } LINK-UUID LINK9

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.10.0 { 10, 1 } LINK-UUID LINK10

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.11.0 { 1, 8 } LINK-UUID LINK11

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.12.0 { 1, 7 } LINK-UUID LINK12

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.13.0 { 1, 6 } LINK-UUID LINK13

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.14.0 { 1, 5 } LINK-UUID LINK14

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.15.0 { 1, 4 } LINK-UUID LINK15

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.16.0 { 1, 3 } LINK-UUID LINK16

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.17.0 { 1, 9 } LINK-UUID LINK17

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.18.0 { 2, 8 } LINK-UUID LINK18

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.19.0 { 2, 7 } LINK-UUID LINK19

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.20.0 { 2, 6 } LINK-UUID LINK20

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.21.0 { 2, 5 } LINK-UUID LINK21

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.22.0 { 2, 4 } LINK-UUID LINK22

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.23.0 { 3, 8 } LINK-UUID LINK23

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.24.0 { 3, 7 } LINK-UUID LINK24

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.25.0 { 3, 6 } LINK-UUID LINK25

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.26.0 { 3, 5 } LINK-UUID LINK26

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.27.0 { 4, 6 } LINK-UUID LINK27

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.28.0 { 4, 7 } LINK-UUID LINK28

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.29.0 { 4, 8 } LINK-UUID LINK29

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.30.0 { 4, 9 } LINK-UUID LINK30

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.31.0 { 4, 10 } LINK-UUID LINK31

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.32.0 { 3, 10 } LINK-UUID LINK32

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.33.0 { 3, 9 } LINK-UUID LINK33

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.34.0 { 5, 7 } LINK-UUID LINK34

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.35.0 { 5, 8 } LINK-UUID LINK35

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.36.0 { 5, 9 } LINK-UUID LINK36

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.37.0 { 5, 10 } LINK-UUID LINK37

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.38.0 { 6, 8 } LINK-UUID LINK38

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.39.0 { 6, 9 } LINK-UUID LINK39

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.40.0 { 6, 10 } LINK-UUID LINK40

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.41.0 { 7, 9 } LINK-UUID LINK41

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.42.0 { 7, 10 } LINK-UUID LINK42

#******POINT TO POINT LINK PROPERTIES***********************************


#**************************** [Link] ***********************************

LINK N8-190.0.43.0 { 8, 10 } LINK-UUID LINK43

#******POINT TO POINT LINK PROPERTIES***********************************


#*************Interface Configuration***********************************

[LINK1/1/0] IP-ADDRESS        190.0.1.1

[LINK10/1/1] IP-ADDRESS       190.0.10.2

[LINK11/1/2] IP-ADDRESS       190.0.11.1

[LINK12/1/3] IP-ADDRESS       190.0.12.1

[LINK13/1/4] IP-ADDRESS       190.0.13.1

[LINK14/1/5] IP-ADDRESS       190.0.14.1

[LINK15/1/6] IP-ADDRESS       190.0.15.1

[LINK16/1/7] IP-ADDRESS       190.0.16.1

[LINK17/1/8] IP-ADDRESS       190.0.17.1

[LINK1/2/0] IP-ADDRESS        190.0.1.2

[LINK2/2/1] IP-ADDRESS        190.0.2.1

[LINK18/2/2] IP-ADDRESS       190.0.18.1

[LINK19/2/3] IP-ADDRESS       190.0.19.1

[LINK20/2/4] IP-ADDRESS       190.0.20.1

[LINK21/2/5] IP-ADDRESS       190.0.21.1

[LINK22/2/6] IP-ADDRESS       190.0.22.1

[LINK2/3/0] IP-ADDRESS        190.0.2.2

[LINK3/3/1] IP-ADDRESS        190.0.3.1

[LINK16/3/2] IP-ADDRESS       190.0.16.2

[LINK23/3/3] IP-ADDRESS       190.0.23.1

[LINK24/3/4] IP-ADDRESS       190.0.24.1

[LINK25/3/5] IP-ADDRESS       190.0.25.1

[LINK26/3/6] IP-ADDRESS       190.0.26.1

[LINK32/3/7] IP-ADDRESS       190.0.32.1

[LINK33/3/8] IP-ADDRESS       190.0.33.1

[LINK3/4/0] IP-ADDRESS        190.0.3.2

[LINK4/4/1] IP-ADDRESS        190.0.4.1

[LINK15/4/2] IP-ADDRESS       190.0.15.2

[LINK22/4/3] IP-ADDRESS       190.0.22.2

[LINK27/4/4] IP-ADDRESS       190.0.27.1

[LINK28/4/5] IP-ADDRESS       190.0.28.1

[LINK29/4/6] IP-ADDRESS       190.0.29.1

[LINK30/4/7] IP-ADDRESS       190.0.30.1

[LINK31/4/8] IP-ADDRESS       190.0.31.1

[LINK4/5/0] IP-ADDRESS        190.0.4.2

[LINK5/5/1] IP-ADDRESS        190.0.5.1

[LINK14/5/2] IP-ADDRESS       190.0.14.2

[LINK21/5/3] IP-ADDRESS       190.0.21.2

[LINK26/5/4] IP-ADDRESS       190.0.26.2

[LINK34/5/5] IP-ADDRESS       190.0.34.1

[LINK35/5/6] IP-ADDRESS       190.0.35.1

[LINK36/5/7] IP-ADDRESS       190.0.36.1

[LINK37/5/8] IP-ADDRESS       190.0.37.1

[LINK5/6/0] IP-ADDRESS        190.0.5.2

[LINK6/6/1] IP-ADDRESS        190.0.6.1

[LINK13/6/2] IP-ADDRESS       190.0.13.2

[LINK20/6/3] IP-ADDRESS       190.0.20.2

[LINK25/6/4] IP-ADDRESS       190.0.25.2

[LINK27/6/5] IP-ADDRESS       190.0.27.2

[LINK38/6/6] IP-ADDRESS       190.0.38.1

[LINK39/6/7] IP-ADDRESS       190.0.39.1

[LINK40/6/8] IP-ADDRESS       190.0.40.1

[LINK6/7/0] IP-ADDRESS        190.0.6.2

[LINK7/7/1] IP-ADDRESS        190.0.7.1

[LINK12/7/2] IP-ADDRESS       190.0.12.2

[LINK19/7/3] IP-ADDRESS       190.0.19.2

[LINK24/7/4] IP-ADDRESS       190.0.24.2

[LINK28/7/5] IP-ADDRESS       190.0.28.2

[LINK34/7/6] IP-ADDRESS       190.0.34.2

[LINK41/7/7] IP-ADDRESS       190.0.41.1

[LINK42/7/8] IP-ADDRESS       190.0.42.1

[LINK7/8/0] IP-ADDRESS        190.0.7.2

[LINK8/8/1] IP-ADDRESS        190.0.8.1

[LINK11/8/2] IP-ADDRESS       190.0.11.2

[LINK18/8/3] IP-ADDRESS       190.0.18.2

[LINK23/8/4] IP-ADDRESS       190.0.23.2

[LINK29/8/5] IP-ADDRESS       190.0.29.2

[LINK35/8/6] IP-ADDRESS       190.0.35.2

[LINK38/8/7] IP-ADDRESS       190.0.38.2

[LINK43/8/8] IP-ADDRESS       190.0.43.1

[LINK8/9/0] IP-ADDRESS        190.0.8.2

[LINK9/9/1] IP-ADDRESS        190.0.9.1

[LINK17/9/2] IP-ADDRESS       190.0.17.2

[LINK30/9/3] IP-ADDRESS       190.0.30.2

[LINK33/9/4] IP-ADDRESS       190.0.33.2

[LINK36/9/5] IP-ADDRESS       190.0.36.2

[LINK39/9/6] IP-ADDRESS       190.0.39.2

[LINK41/9/7] IP-ADDRESS       190.0.41.2

[LINK9/10/0] IP-ADDRESS       190.0.9.2

[LINK10/10/1] IP-ADDRESS      190.0.10.1

[LINK31/10/2] IP-ADDRESS      190.0.31.2

[LINK32/10/3] IP-ADDRESS      190.0.32.2

[LINK37/10/4] IP-ADDRESS      190.0.37.2

[LINK40/10/5] IP-ADDRESS      190.0.40.2

[LINK42/10/6] IP-ADDRESS      190.0.42.2

[LINK43/10/7] IP-ADDRESS      190.0.43.2



#*************Hierarchy Configuration***********************************


#******************Node Configuration***********************************


[1 thru 10]     NODE-PLACEMENT FILE
[1]             HOSTNAME host1
[2]             HOSTNAME host2
[3]             HOSTNAME host3
[4]             HOSTNAME host4
[5]             HOSTNAME host5
[6]             HOSTNAME host6
[7]             HOSTNAME host7
[8]             HOSTNAME host8
[9]             HOSTNAME host9
[10]            HOSTNAME host10
NODE-POSITION-FILE Exercise Q1.nodes

#*********Miscellaneous Configuration***********************************

GUI-DISPLAY-SETTINGS-FILE Exercise Q1.display

FAULT-CONFIG-FILE Exercise Q1.fault
